
$main-blue: rgb(28,156,216);
$main-dark-grey: rgb(26,26,26);
$main-bright-grey: rgb(230,230,230);


// navbar


body {
    height: 500vh;
    background-color: black;
}

$navbarHeight: 20vh;
.navbar {
    height: $navbarHeight;
    background: linear-gradient(180deg, rgba(28,156,216,1) 0%, rgba(1,1,1,1) 100%);
}
.navbar a {
    height: 90%;
}

.navbar img {
    height: 90%;
}



.collapse {
    height: 100%;
}

.social-media {
    height: 100%;
}


// slider

.slider {
    height: calc(100vh - #{$navbarHeight});
    position: relative;
    color: white;
    padding-top: $navbarHeight;
}

.slide {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 5vh 2vw 3vh;

    p {
        display: block;
    }

}


.slideImg>div>div {
    

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}

$slideImgHeight: 90%;



.slideImg {
    min-width: 500px;
    background-color: $main-blue;
    position: relative;
}
#slide1Img {
    clip-path: polygon(50% 0%, 100% 31%, 80% 79%, 19% 94%, 3% 22%);   
}
#slide2Img {
    clip-path: polygon(39% 23%, 100% 20%, 87% 86%, 14% 93%, 3% 49%);
}
#slide3Img {
    clip-path: polygon(3% 9%, 63% 7%, 96% 39%, 93% 96%, 15% 86%);
}
#slide1Img>div {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: white;
    clip-path: polygon(50% 0%, 100% 31%, 80% 79%, 19% 94%, 3% 22%);   
}
#slide2Img>div {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: $main-blue;
    clip-path: polygon(39% 23%, 100% 20%, 87% 86%, 14% 93%, 3% 49%);
}
#slide3Img>div {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: $main-blue;
    clip-path: polygon(3% 9%, 63% 7%, 96% 39%, 93% 96%, 15% 86%);
}

#slide1Img>div>div {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    position: absolute;
    top: 5px;
    left: 5px;
    background-image: url(/img/carouselv1.jpg);
    clip-path: polygon(50% 0%, 100% 31%, 80% 79%, 19% 94%, 3% 22%);
    
}
#slide2Img>div>div {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    position: absolute;
    top: 5px;
    left: 5px;
    background-image: url(/img/carouselv2.jpg);
    clip-path: polygon(39% 23%, 100% 20%, 87% 86%, 14% 93%, 3% 49%);
}
#slide3Img>div>div {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    position: absolute;
    top: 5px;
    left: 5px;
    background-image: url(/img/carouselv3.jpg);
    clip-path: polygon(3% 9%, 63% 7%, 96% 39%, 93% 96%, 15% 86%);
}





