// ideas
// growing camaro
// change slider arrows

$main-blue: rgb(0, 141, 210);
$main-dark-grey: rgb(26, 26, 26);
$main-bright-grey: rgb(230, 230, 230);

$navbarHeight: 20vh;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

ul {
    list-style: none;
}

.nav-link:focus,
.nav-link:hover {
    color: $main-bright-grey;
}

html {
    scroll-behavior: smooth;
}

.displayNone {
    display: none;
}

body {
    min-height: 500vh;
    background: $main-dark-grey;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.longText {
    line-height: 180%;
}

.navbar {
    height: $navbarHeight;
    width: 100%;
    background-color: $main-blue;
    position: relative;
    z-index: 2;
}

.navbar::before {
    content: '';
    display: block;
    background-color: $main-blue;
    border-bottom: 8px solid white;
    width: 150%;
    height: 100%;
    position: absolute;
    top: 8px;
    right: 0;
    z-index: -2;
    transform-origin: bottom right;
    transform: rotate(-3deg);
}

.navbar a {
    color: $main-bright-grey;
}

.navbar-brand {
    height: 11vw;
    min-height: 100%;
    align-self: flex-start;
    z-index: 2;
}

.navbar img {
    height: 100%;
}

.navbar-nav {
    font-size: 1.1rem;

    a {
        transform: scale(100%);
        transition: 0.3s;
    }

    a:hover {
        color: white;
        transition: 0.3s;
        transform: scale(110%);

    }
}

@media all and (max-width: 767px) {
    .navbar-collapse {
        background-color: $main-dark-grey;

        li {
            border-bottom: 1px solid rgba(256, 256, 256, 0.2);
        }
    }
}


.navbar-toggler {

    span {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    &:focus {
        box-shadow: none;
    }
}



.social-media {
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;

    a {
        display: inline-block;
        height: 2rem;

        img {
            height: 100%;
        }
    }
}


// slider

.container {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    padding: 0;
}

.slider {
    height: calc(100vh - #{$navbarHeight});
    position: relative;
    color: $main-bright-grey;
    z-index: 1;
}

.slide {
    max-width: 1280px;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7vh 2vw 3vh;
    margin: 0 auto;
    opacity: 0;
    transition: 0.5s;


    p {
        display: block;
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        padding: 2rem;

        span {
            font-weight: 900;
            color: $main-blue
        }
    }

}

.activeSlide {
    opacity: 1;
}

@media all and (max-width: 600px) {
    .slide {
        max-width: 100%;

        .slideImg {
            width: 80%;
            min-width: 1px;
            height: 70%;
            min-height: 1px;
        }

        p {
            height: 30%;
            font-size: 1.5rem;
        }
    }
}


.slideImg>div>div {


    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

$slideImgHeight: 90%;
$slideImgClipPath1: circle(50% at 50% 50%);
// polygon(50% 0%, 100% 31%, 98% 90%, 19% 94%, 0% 21%);
$slideImgClipPath2: circle(50% at 50% 50%);
// polygon(36% 0%, 100% 24%, 96% 85%, 4% 95%, 0 18%);
$slideImgClipPath3: circle(50% at 50% 50%);
// polygon(41% 4%, 100% 19%, 92% 87%, 3% 89%, 0 39%);


.slideImg {
    min-width: 500px;
    min-height: 90%;
    background-color: $main-blue;
    position: relative;
}

#slide1Img {
    clip-path: $slideImgClipPath1;
}

#slide2Img {
    clip-path: $slideImgClipPath2;
}

#slide3Img {
    clip-path: $slideImgClipPath3;
}

#slide1Img>div {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: white;
    clip-path: $slideImgClipPath1;
}

#slide2Img>div {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: white;
    clip-path: $slideImgClipPath2;
}

#slide3Img>div {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: white;
    clip-path: $slideImgClipPath3;
    ;
}

#slide1Img>div>div {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    position: absolute;
    top: 5px;
    left: 5px;
    background-image: url('../img/carousel1.jpg');
    clip-path: $slideImgClipPath1;

}

#slide2Img>div>div {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    position: absolute;
    top: 5px;
    left: 5px;
    background-image: url('../img/carousel2.jpg');
    background-position: 0 10%;
    clip-path: $slideImgClipPath2;
}

#slide3Img>div>div {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    position: absolute;
    top: 5px;
    left: 5px;
    background-image: url('../img/carousel3.jpg');
    clip-path: $slideImgClipPath3;
}


.sliderButton {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;

    button {
        background-color: rgba(1, 1, 1, 0);
        border: none;
        color: rgb(255, 255, 255);
        height: max-content;

        i {
            font-size: 2rem;
        }
    }


}

#previous {
    left: 2%;
}

#next {
    right: 2%;
}

.slideIndicators {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    text-align: center;

    button {
        width: 2rem;
        height: 0.3rem;
        border: none;
        margin-right: 0.5rem;
        background-color: gray;
        cursor: pointer;


    }

    .activeIndicator {
        background-color: white;
    }


}



// O nas

.oNas {
    height: 100vh;
}

.oNasBcg {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0) 15%, rgba(26, 26, 26, 0) 85%, rgba(26, 26, 26, 1) 100%), url(../img/camaro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.oNasWrap {
    position: absolute;
    top: 25%;
    left: 5%;
    right: 60%;

    flex-direction: column;
    color: white;
}

.sectionTitle {
    width: fit-content;
    line-height: 0.8;
    margin-bottom: 1.3rem;
    padding-bottom: 1.3rem;
    border-bottom: 0.5rem solid $main-blue;
    color: white;
}

@media all and (max-width: 768px) {

    .oNas {
        height: auto;

        .sectionTitle {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .oNasBcg {
        background-size: 230%;
        background-position: 0% 0%;
    }

    .oNasWrap {
        position: static;
        padding: 2rem 2rem;
    }
}


// services


.services {
    color: white;
    padding-top: 1rem;

    .sectionTitle {
        margin: 3rem auto;
    }

    .row>* {
        padding: 0;
    }

    .service .wrap {
        background-color: $main-blue;
        // border: 3px solid white;
        // padding: 1rem;
        // height: 20rem;
        overflow: hidden;

        .longText {

            display: flex;
            align-items: center;


            p {
                margin-bottom: 0;
                padding: 2rem;
                width: 100%;

            }
        }

    }



    .service:hover {

        .serviceBcg {
            transform: scale(110%);

            h2 {
                transform: translate(-50%, -50%) scale(91%);
            }
        }




    }

    @media all and (max-width: 768px) {
        .service .wrap {
            overflow-y: auto;
        }

        .service:hover {

            .serviceBcg {
                transform: none;

                h2 {
                    transform: translate(-50%, -50%) scale(100%);
                }
            }
        }
    }


    .serviceBcg {
        height: 20rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // margin-bottom: 1rem;
        position: relative;
        transition: 0.3s;
        cursor: pointer;
        overflow: hidden;

        h2 {
            font-size: 1.8rem;
            margin: 1rem 1rem 2rem;
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.3s;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }


    .serviceBcg1 {
        background-image: url(../img/service1s.jpg)
    }

    .serviceBcg2 {
        background-image: url(../img/service2s.jpg);
    }

    .serviceBcg3 {
        background-image: url(../img/service3s.jpg);
    }

    .serviceBcg4 {
        background-image: url(../img/service4s.jpg);
    }

    .serviceBcg5 {
        background-image: url(../img/service5s.jpg);
    }

    .serviceBcg6 {
        background-image: url(../img/service6s.jpg);
    }


}

.servicesPopupWrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    color: white;

    p {
        margin-bottom: 0;
        text-align: center;
    }

    .servicesPopup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 50%;
        max-height: 100%;
        background-color: $main-dark-grey;
        padding: 2rem;
        border-radius: 1%;
        box-shadow: 0px 0px 28px -9px rgba(0, 0, 0, 1);
        z-index: 1;
        transform-style: preserve-3d;

        h1 {
            text-align: center;
            color: $main-blue;
            margin-bottom: 3rem;
        }

        .description {
            margin-bottom: 3rem;
        }

        .popupPricing {
            width: 80%;
            margin: 0 auto;

            display: grid;
            gap: 1rem;
            grid-template-columns: auto 3rem auto;
            grid-template-rows: auto;
            align-items: center;
            justify-items: center;
            justify-content: space-around;



            span {
                width: 100%;
                height: 2px;
                background-color: $main-blue;

            }

            .serviceName {
                font-weight: bold;
            }
        }

        .closeServicePopupStyle {
            position: absolute;
            top: 4%;
            right: 0;
            width: 2rem;
            height: 2rem;
            transform: translateX(92%) translateZ(-1rem);
            // isolation: isolate;
            z-index: -666;

            background-color: rgb(51, 51, 51);
            color: white;
            border: none;
            border-radius: 15%;
            box-shadow: 0px 0px 28px -9px rgba(0, 0, 0, 1);

        }
    }
}

.popupPricing {
    width: 80%;
    margin: 0 auto;
    color: white;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 3rem auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    justify-content: space-around;



    span {
        width: 100%;
        height: 2px;
        background-color: $main-blue;

    }

    .serviceName {
        font-weight: bold;
    }
}


#popupService5, #popupService6 {

    .servicesPopup {
        max-width: 90%;
        min-width: 80%;

    }

    .popupPricing {
        margin-bottom: 2rem;
    }

}

@media all and (max-width: 1399px) {
    .servicesPopupWrap {

        .servicesPopup {
            p {
                font-size: 0.8rem;
            }

            h1 {
                margin-bottom: 2rem;
                font-size: 2rem;
            }

            .description {
                margin-bottom: 1.5rem;
            }

        }
    }
}


// price list

.priceList {

    color: white;
    padding-top: 1rem;

    .sectionTitle {
        margin: 3rem auto;
    }

    &>.container {
        columns: 2;
        padding: 2rem;
        
        &>div {
            break-inside: avoid;
            margin-bottom: 2rem;
        }

        h1 {
            margin-bottom: 2rem;
        }

        .popupPricing {
            width: 100%;
            grid-template-columns: 40% 20% 40%;
            padding: 0 1rem;
        }
    }
}

@media all and (max-width: 768px) {
    .priceList>.container {
        display: grid;
        grid-template-columns: 100%;
        gap: 1rem;
    }
}


// contact

.contact {
    color: white;
    padding-top: 1rem;
    .sectionTitle {
        margin: 3rem auto;
    }

    h2 {
        max-width: 1320px;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
        font-weight: normal;
        font-size: 1.7rem;
        margin-bottom: 4rem;
        text-align: center;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media all and (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        .address {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 4rem;
            h2 {
                color: $main-blue;
            }
        }
        .contactForm {
            margin-bottom: 4rem;
            form {
                display: flex;
                flex-direction: column;

                &>* {
                    border: none;
                    margin-right: 1rem;
                    margin-left: 1rem;
                }
                input {
                    margin-bottom: 1rem;
                    // text-align: center;
                    padding: 0.5rem;
                    
                }
    
                button {
                    background-color: $main-blue;
                    padding: 1rem;

                }

                textarea.text {
                    height: 10rem;
                    margin-bottom: 1rem;
                }
            }
            
            


        }
    }

    .map {
        
    }

}

.footer {
    height: 2vh;
    color: $main-blue;
    text-align: center;
    font-size: 0.7rem;
  }