* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
}

ul {
  list-style: none;
}

.nav-link:focus,
.nav-link:hover {
  color: #e6e6e6;
}

html {
  scroll-behavior: smooth;
}

.displayNone {
  display: none;
}

body {
  min-height: 500vh;
  background: #1a1a1a;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.longText {
  line-height: 180%;
}

.navbar {
  height: 20vh;
  width: 100%;
  background-color: #008dd2;
  position: relative;
  z-index: 2;
}

.navbar::before {
  content: '';
  display: block;
  background-color: #008dd2;
  border-bottom: 8px solid white;
  width: 150%;
  height: 100%;
  position: absolute;
  top: 8px;
  right: 0;
  z-index: -2;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.navbar a {
  color: #e6e6e6;
}

.navbar-brand {
  height: 11vw;
  min-height: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  z-index: 2;
}

.navbar img {
  height: 100%;
}

.navbar-nav {
  font-size: 1.1rem;
}

.navbar-nav a {
  -webkit-transform: scale(100%);
          transform: scale(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-nav a:hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

@media all and (max-width: 767px) {
  .navbar-collapse {
    background-color: #1a1a1a;
  }
  .navbar-collapse li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.navbar-toggler span {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.social-media {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.social-media a {
  display: inline-block;
  height: 2rem;
}

.social-media a img {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  padding: 0;
}

.slider {
  height: calc(100vh - 20vh);
  position: relative;
  color: #e6e6e6;
  z-index: 1;
}

.slide {
  max-width: 1280px;
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7vh 2vw 3vh;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slide p {
  display: block;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  padding: 2rem;
}

.slide p span {
  font-weight: 900;
  color: #008dd2;
}

.activeSlide {
  opacity: 1;
}

@media all and (max-width: 600px) {
  .slide {
    max-width: 100%;
  }
  .slide .slideImg {
    width: 80%;
    min-width: 1px;
    height: 70%;
    min-height: 1px;
  }
  .slide p {
    height: 30%;
    font-size: 1.5rem;
  }
}

.slideImg > div > div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slideImg {
  min-width: 500px;
  min-height: 90%;
  background-color: #008dd2;
  position: relative;
}

#slide1Img {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

#slide2Img {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

#slide3Img {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

#slide1Img > div {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: white;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

#slide2Img > div {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: white;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

#slide3Img > div {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: white;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

#slide1Img > div > div {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  position: absolute;
  top: 5px;
  left: 5px;
  background-image: url("../img/carousel1.jpg");
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

#slide2Img > div > div {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  position: absolute;
  top: 5px;
  left: 5px;
  background-image: url("../img/carousel2.jpg");
  background-position: 0 10%;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

#slide3Img > div > div {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  position: absolute;
  top: 5px;
  left: 5px;
  background-image: url("../img/carousel3.jpg");
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

.sliderButton {
  position: absolute;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliderButton button {
  background-color: rgba(1, 1, 1, 0);
  border: none;
  color: white;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.sliderButton button i {
  font-size: 2rem;
}

#previous {
  left: 2%;
}

#next {
  right: 2%;
}

.slideIndicators {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  text-align: center;
}

.slideIndicators button {
  width: 2rem;
  height: 0.3rem;
  border: none;
  margin-right: 0.5rem;
  background-color: gray;
  cursor: pointer;
}

.slideIndicators .activeIndicator {
  background-color: white;
}

.oNas {
  height: 100vh;
}

.oNasBcg {
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), color-stop(15%, rgba(26, 26, 26, 0)), color-stop(85%, rgba(26, 26, 26, 0)), to(#1a1a1a)), url(../img/camaro.jpg);
  background-image: linear-gradient(180deg, #1a1a1a 0%, rgba(26, 26, 26, 0) 15%, rgba(26, 26, 26, 0) 85%, #1a1a1a 100%), url(../img/camaro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.oNasWrap {
  position: absolute;
  top: 25%;
  left: 5%;
  right: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.sectionTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 0.8;
  margin-bottom: 1.3rem;
  padding-bottom: 1.3rem;
  border-bottom: 0.5rem solid #008dd2;
  color: white;
}

@media all and (max-width: 768px) {
  .oNas {
    height: auto;
  }
  .oNas .sectionTitle {
    margin-left: auto;
    margin-right: auto;
  }
  .oNasBcg {
    background-size: 230%;
    background-position: 0% 0%;
  }
  .oNasWrap {
    position: static;
    padding: 2rem 2rem;
  }
}

.services {
  color: white;
  padding-top: 1rem;
}

.services .sectionTitle {
  margin: 3rem auto;
}

.services .row > * {
  padding: 0;
}

.services .service .wrap {
  background-color: #008dd2;
  overflow: hidden;
}

.services .service .wrap .longText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .service .wrap .longText p {
  margin-bottom: 0;
  padding: 2rem;
  width: 100%;
}

.services .service:hover .serviceBcg {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.services .service:hover .serviceBcg h2 {
  -webkit-transform: translate(-50%, -50%) scale(91%);
          transform: translate(-50%, -50%) scale(91%);
}

@media all and (max-width: 768px) {
  .services .service .wrap {
    overflow-y: auto;
  }
  .services .service:hover .serviceBcg {
    -webkit-transform: none;
            transform: none;
  }
  .services .service:hover .serviceBcg h2 {
    -webkit-transform: translate(-50%, -50%) scale(100%);
            transform: translate(-50%, -50%) scale(100%);
  }
}

.services .serviceBcg {
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  overflow: hidden;
}

.services .serviceBcg h2 {
  font-size: 1.8rem;
  margin: 1rem 1rem 2rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services .serviceBcg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.services .serviceBcg1 {
  background-image: url(../img/service1s.jpg);
}

.services .serviceBcg2 {
  background-image: url(../img/service2s.jpg);
}

.services .serviceBcg3 {
  background-image: url(../img/service3s.jpg);
}

.services .serviceBcg4 {
  background-image: url(../img/service4s.jpg);
}

.services .serviceBcg5 {
  background-image: url(../img/service5s.jpg);
}

.services .serviceBcg6 {
  background-image: url(../img/service6s.jpg);
}

.servicesPopupWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  color: white;
}

.servicesPopupWrap p {
  margin-bottom: 0;
  text-align: center;
}

.servicesPopupWrap .servicesPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 50%;
  max-height: 100%;
  background-color: #1a1a1a;
  padding: 2rem;
  border-radius: 1%;
  -webkit-box-shadow: 0px 0px 28px -9px black;
          box-shadow: 0px 0px 28px -9px black;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.servicesPopupWrap .servicesPopup h1 {
  text-align: center;
  color: #008dd2;
  margin-bottom: 3rem;
}

.servicesPopupWrap .servicesPopup .description {
  margin-bottom: 3rem;
}

.servicesPopupWrap .servicesPopup .popupPricing {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: auto 3rem auto;
      grid-template-columns: auto 3rem auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.servicesPopupWrap .servicesPopup .popupPricing span {
  width: 100%;
  height: 2px;
  background-color: #008dd2;
}

.servicesPopupWrap .servicesPopup .popupPricing .serviceName {
  font-weight: bold;
}

.servicesPopupWrap .servicesPopup .closeServicePopupStyle {
  position: absolute;
  top: 4%;
  right: 0;
  width: 2rem;
  height: 2rem;
  -webkit-transform: translateX(92%) translateZ(-1rem);
          transform: translateX(92%) translateZ(-1rem);
  z-index: -666;
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 15%;
  -webkit-box-shadow: 0px 0px 28px -9px black;
          box-shadow: 0px 0px 28px -9px black;
}

.popupPricing {
  width: 80%;
  margin: 0 auto;
  color: white;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: auto 3rem auto;
      grid-template-columns: auto 3rem auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.popupPricing span {
  width: 100%;
  height: 2px;
  background-color: #008dd2;
}

.popupPricing .serviceName {
  font-weight: bold;
}

#popupService5 .servicesPopup, #popupService6 .servicesPopup {
  max-width: 90%;
  min-width: 80%;
}

#popupService5 .popupPricing, #popupService6 .popupPricing {
  margin-bottom: 2rem;
}

@media all and (max-width: 1399px) {
  .servicesPopupWrap .servicesPopup p {
    font-size: 0.8rem;
  }
  .servicesPopupWrap .servicesPopup h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .servicesPopupWrap .servicesPopup .description {
    margin-bottom: 1.5rem;
  }
}

.priceList {
  color: white;
  padding-top: 1rem;
}

.priceList .sectionTitle {
  margin: 3rem auto;
}

.priceList > .container {
  -webkit-columns: 2;
          columns: 2;
  padding: 2rem;
}

.priceList > .container > div {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  margin-bottom: 2rem;
}

.priceList > .container h1 {
  margin-bottom: 2rem;
}

.priceList > .container .popupPricing {
  width: 100%;
  -ms-grid-columns: 40% 20% 40%;
      grid-template-columns: 40% 20% 40%;
  padding: 0 1rem;
}

@media all and (max-width: 768px) {
  .priceList > .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    gap: 1rem;
  }
}

.contact {
  color: white;
  padding-top: 1rem;
}

.contact .sectionTitle {
  margin: 3rem auto;
}

.contact h2 {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: normal;
  font-size: 1.7rem;
  margin-bottom: 4rem;
  text-align: center;
}

.contact .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media all and (max-width: 768px) {
  .contact .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.contact .container .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}

.contact .container .address h2 {
  color: #008dd2;
}

.contact .container .contactForm {
  margin-bottom: 4rem;
}

.contact .container .contactForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .container .contactForm form > * {
  border: none;
  margin-right: 1rem;
  margin-left: 1rem;
}

.contact .container .contactForm form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.contact .container .contactForm form button {
  background-color: #008dd2;
  padding: 1rem;
}

.contact .container .contactForm form textarea.text {
  height: 10rem;
  margin-bottom: 1rem;
}

.footer {
  height: 2vh;
  color: #008dd2;
  text-align: center;
  font-size: 0.7rem;
}
/*# sourceMappingURL=style.css.map */