* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.displayNone {
  display: none;
}

body {
  height: 500vh;
  background: #1a1a1a;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.longText {
  line-height: 180%;
}

.navbar {
  height: 20vh;
  width: 100%;
  background-color: #008dd2;
  position: relative;
}

.navbar::before {
  content: '';
  display: block;
  background-color: #008dd2;
  border-bottom: 8px solid white;
  width: 150%;
  height: 100%;
  position: absolute;
  top: 8px;
  right: 0;
  z-index: -2;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.navbar a {
  color: #e6e6e6;
}

.navbar-brand {
  height: 11vw;
  min-height: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  z-index: 2;
}

.navbar img {
  height: 100%;
}

.navbar-nav {
  font-size: 1.1rem;
}

.navbar-nav a {
  -webkit-transform: scale(100%);
          transform: scale(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-nav a:hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

@media all and (max-width: 767px) {
  .navbar-collapse {
    background-color: #1a1a1a;
  }
  .navbar-collapse li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.navbar-toggler span {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.social-media {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.social-media a {
  display: inline-block;
  height: 2rem;
}

.social-media a img {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.slider {
  height: calc(100vh - 20vh);
  position: relative;
  color: #e6e6e6;
}

.slide {
  max-width: 1280px;
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7vh 2vw 3vh;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slide p {
  display: block;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  padding: 2rem;
}

.slide p span {
  font-weight: 900;
  color: #008dd2;
}

.activeSlide {
  opacity: 1;
}

@media all and (max-width: 600px) {
  .slide {
    max-width: 100%;
  }
  .slide .slideImg {
    width: 90%;
    min-width: 1px;
    height: 70%;
    min-height: 1px;
  }
  .slide p {
    height: 30%;
    font-size: 1.5rem;
  }
}

.slideImg > div > div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slideImg {
  min-width: 500px;
  min-height: 90%;
  background-color: #008dd2;
  position: relative;
}

#slide1Img {
  -webkit-clip-path: polygon(50% 0%, 100% 31%, 98% 90%, 19% 94%, 0% 21%);
          clip-path: polygon(50% 0%, 100% 31%, 98% 90%, 19% 94%, 0% 21%);
}

#slide2Img {
  -webkit-clip-path: polygon(36% 0%, 100% 24%, 96% 85%, 4% 95%, 0 18%);
          clip-path: polygon(36% 0%, 100% 24%, 96% 85%, 4% 95%, 0 18%);
}

#slide3Img {
  -webkit-clip-path: polygon(41% 4%, 100% 19%, 92% 87%, 3% 89%, 0 39%);
          clip-path: polygon(41% 4%, 100% 19%, 92% 87%, 3% 89%, 0 39%);
}

#slide1Img > div {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: white;
  -webkit-clip-path: polygon(50% 0%, 100% 31%, 98% 90%, 19% 94%, 0% 21%);
          clip-path: polygon(50% 0%, 100% 31%, 98% 90%, 19% 94%, 0% 21%);
}

#slide2Img > div {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: white;
  -webkit-clip-path: polygon(36% 0%, 100% 24%, 96% 85%, 4% 95%, 0 18%);
          clip-path: polygon(36% 0%, 100% 24%, 96% 85%, 4% 95%, 0 18%);
}

#slide3Img > div {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: white;
  -webkit-clip-path: polygon(41% 4%, 100% 19%, 92% 87%, 3% 89%, 0 39%);
          clip-path: polygon(41% 4%, 100% 19%, 92% 87%, 3% 89%, 0 39%);
}

#slide1Img > div > div {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  position: absolute;
  top: 5px;
  left: 5px;
  background-image: url("../img/carousel1.jpg");
  -webkit-clip-path: polygon(50% 0%, 100% 31%, 98% 90%, 19% 94%, 0% 21%);
          clip-path: polygon(50% 0%, 100% 31%, 98% 90%, 19% 94%, 0% 21%);
}

#slide2Img > div > div {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  position: absolute;
  top: 5px;
  left: 5px;
  background-image: url("../img/carousel2.jpg");
  background-position: 0 10%;
  -webkit-clip-path: polygon(36% 0%, 100% 24%, 96% 85%, 4% 95%, 0 18%);
          clip-path: polygon(36% 0%, 100% 24%, 96% 85%, 4% 95%, 0 18%);
}

#slide3Img > div > div {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  position: absolute;
  top: 5px;
  left: 5px;
  background-image: url("../img/carousel3.jpg");
  -webkit-clip-path: polygon(41% 4%, 100% 19%, 92% 87%, 3% 89%, 0 39%);
          clip-path: polygon(41% 4%, 100% 19%, 92% 87%, 3% 89%, 0 39%);
}

.sliderButton {
  position: absolute;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliderButton button {
  background-color: rgba(1, 1, 1, 0);
  border: none;
  color: white;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.sliderButton button i {
  font-size: 2rem;
}

#previous {
  left: 2%;
}

#next {
  right: 2%;
}

.slideIndicators {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  text-align: center;
}

.slideIndicators button {
  width: 2rem;
  height: 0.3rem;
  border: none;
  margin-right: 0.5rem;
  background-color: gray;
  cursor: pointer;
}

.slideIndicators .activeIndicator {
  background-color: white;
}

.oNas {
  height: 100vh;
}

.oNasBcg {
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), color-stop(15%, rgba(26, 26, 26, 0)), color-stop(85%, rgba(26, 26, 26, 0)), to(#1a1a1a)), url(../img/camaro.jpg);
  background-image: linear-gradient(180deg, #1a1a1a 0%, rgba(26, 26, 26, 0) 15%, rgba(26, 26, 26, 0) 85%, #1a1a1a 100%), url(../img/camaro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.oNasWrap {
  position: absolute;
  top: 25%;
  left: 15%;
  right: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.sectionTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 0.8;
  margin-bottom: 1.3rem;
  padding-bottom: 1.3rem;
  border-bottom: 0.5rem solid #008dd2;
}

@media all and (max-width: 768px) {
  .oNas {
    height: auto;
  }
  .oNas .sectionTitle {
    margin-left: auto;
    margin-right: auto;
  }
  .oNasBcg {
    background-size: 230%;
    background-position: 0% 0%;
  }
  .oNasWrap {
    position: static;
    padding: 4rem 2rem;
  }
}

.services {
  color: white;
}

.services .sectionTitle {
  margin: 3rem auto;
}

.services .row > * {
  padding: 0;
}

.services .service .wrap {
  background-color: #008dd2;
  height: 20rem;
  overflow: hidden;
}

.services .service:hover .serviceBcg {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.services .service:hover .serviceBcg h2 {
  -webkit-transform: translate(-50%, -50%) scale(91%);
          transform: translate(-50%, -50%) scale(91%);
}

.services .serviceBcg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1rem;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.services .serviceBcg h2 {
  font-size: 1.8rem;
  margin: 1rem 1rem 2rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services .serviceBcg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(90, 90, 90, 0.6);
}

.services #serviceBcg1 {
  background-image: url(../img/service1s.jpg);
}

.services #serviceBcg2 {
  background-image: url(../img/service2s.jpg);
}

.services #serviceBcg3 {
  background-image: url(../img/service3s.jpg);
}

.services #serviceBcg4 {
  background-image: url(../img/service4s.jpg);
}

.services #serviceBcg5 {
  background-image: url(../img/service5s.jpg);
}

.services #serviceBcg6 {
  background-image: url(../img/service6s.jpg);
}

.servicesPopupWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  color: white;
}

.servicesPopupWrap .servicesPopup {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;
  background-color: #1a1a1a;
  z-index: 4;
  padding: 2rem;
  border-radius: 1%;
  -webkit-box-shadow: 0px 0px 28px -9px black;
          box-shadow: 0px 0px 28px -9px black;
}

.servicesPopupWrap .servicesPopup h1 {
  text-align: center;
  color: #008dd2;
  margin-bottom: 3rem;
}

.servicesPopupWrap .servicesPopup .description {
  margin-bottom: 3rem;
}

.servicesPopupWrap .servicesPopup .popupPricing {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1rem;
}

.servicesPopupWrap .servicesPopup .popupPricing p {
  margin-bottom: 0;
}

.servicesPopupWrap .servicesPopup .popupPricing span {
  width: 100%;
  height: 2px;
  background-color: #008dd2;
}

.servicesPopupWrap .servicesPopup .popupPricing .serviceName {
  font-weight: bold;
}

#popupService1 .popupPricing {
  -ms-grid-columns: auto 3rem auto;
      grid-template-columns: auto 3rem auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "s1 span1  price1" "s2 span2  price2" "s3 span3  price3";
}

#popupService1 .popupPricing .s1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: s1;
}

#popupService1 .popupPricing .span1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: span1;
}

#popupService1 .popupPricing .price1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: price1;
}

#popupService1 .popupPricing .s2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: s2;
}

#popupService1 .popupPricing .span2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: span2;
}

#popupService1 .popupPricing .price2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: price2;
}

#popupService1 .popupPricing .s3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: s3;
}

#popupService1 .popupPricing .span3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: span3;
}

#popupService1 .popupPricing .type1 {
  grid-area: type1;
}

#popupService1 .popupPricing .price3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: price3;
}

#popupService1 .popupPricing .type2 {
  grid-area: type2;
}

#popupService1 .popupPricing .price4 {
  grid-area: price4;
}

#popupService1 .popupPricing .type3 {
  grid-area: type3;
}

#popupService1 .popupPricing .price5 {
  grid-area: price5;
}
/*# sourceMappingURL=style.css.map */